<h2>Olá {{ name }} </h2>
<p>
  Parece que você solicitou uma recuperação da sua senha, caso queira prosseguir insira o código abaixo no aplicativo:
</p>
<p>
  Código de 6 dígitos: <strong>{{ token }}</strong>
</p>
<p>
  Caso não tenha sido você que soclicitou, favor desconsiderar este email.
</p>